body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

span,
td[edittype],
th[edittype] {
    cursor: pointer
}

th,
td, 
input {
    height: 2em;
    width: 6em;
    border: 1px solid black;
    text-align: center;
    position: relative;
}

th[edittype]:not(:focus-within)::before,
td[edittype]:not(:focus-within)::before {
    content: '✎';
}

th span,
th[edittype]:not(:focus-within)::before,
td[edittype]:not(:focus-within)::before {
    opacity: 0.3;
}

th span,
th[edittype]:not(:focus-within)::before,
td[edittype]:not(:focus-within)::before {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3; 
    transition: opacity 0.3s ease;
}

th span[iconright] {
    right: 5px;
    left: unset;
}

th:hover span,
th[edittype]:hover::before,
td[edittype]:hover::before {
    opacity: 1; 
    transition: opacity 0.3s ease; 
}

input {
    border: 2px solid black;;
    outline: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    background: inherit;
}

th,
tbody tr:nth-child(even) {
    background: #f4f4f4;
}
tbody td:first-child {
    font-weight:bold;
}

@keyframes blink_input_opacity_to_prevent_scrolling_when_focus {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.input--focused {
    animation: blink_input_opacity_to_prevent_scrolling_when_focus 0.01s;
}

