body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td,
input {
    height: 2em;
    width: 6em;
    border: 1px solid black;
    text-align: center;
}

th,
tbody tr:nth-child(even) {
    background: #f4f4f4;
}