body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

span,
td[edittype],
th[edittype] {
    cursor: pointer
}

th,
td, 
input {
    height: 2em;
    width: 6em;
    border: 1px solid black;
    text-align: center;
}

input {
    border: 2px solid black;;
    outline: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    background: inherit;
}

th,
tbody tr:nth-child(even) {
    background: #f4f4f4;
}
tbody td:first-child {
    font-weight:bold;
}

@keyframes blink_input_opacity_to_prevent_scrolling_when_focus {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.input--focused {
    animation: blink_input_opacity_to_prevent_scrolling_when_focus 0.01s;
}